@import url('https://fonts.cdnfonts.com/css/gilroy');

.main-rectangle {
    border-radius: 10px;
    box-shadow: 0px 5px 30px 0px rgba(42, 52, 61, 0.05);
    height: calc(100%);
    overflow-y: scroll;
    width:100%;
    background-color: #fff;
    position: absolute;
    left: 0%;
    top: 0%;
}

.line {
    border-radius: 10px 10px 0px 0px;
    background: #1466AC;
    width: calc(100%);
    height: 2%;
}

.data {
    display: flex;
    justify-content: space-around;
    margin: -5px;
}

.fullname {
    color: #282A2E;

    font-family: Gilroy;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    width: 20%;
    height: 20%;
}

.square {
    color: #282A2E;
    text-align: center;

    font-family: Gilroy;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    width: 20%;
    height: 20%;
}

.fulltext {
    color: #282A2E;

    font-family: Gilroy;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    text-align: center;

    padding: 3%;
}

.msg {
    border-radius: 10px;
    border: 1px solid #1466AC;
    width: 90%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 36px;
}

.com-form {
    text-align: center;
}

.call {
    border-radius: 10px;
    background: #1466AC;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3% 5% 3% 5%;
}

.button-box {
    display: flex;
    justify-content: space-around;
}

.awhite {
    color: white;
    font-family: Gilroy;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.suc {
    border-radius: 10px;
    background: #6DBD72;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 3% 6% 3% 6%;
    font-family: Gilroy;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.from {
    border-radius: 10px;
    border: 1px solid #1466AC;

    display: flex;
    width: 308px;
    height: 8px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
}